# Vscode directory
**/.vscode

# Clangd caches and compile commands for clangd
**/.cache
**/compile_commands.json

# .idea, not sure why it keeps appearing, prob because of gitpod though
**/,idea

# Build directories
**/build/